<div id='content2'>

  <div id='scroll-percent' class="debug-output">
    Scroll Percent
  </div>

  <div id='animation-percent' class="debug-output">
    ^^^^^^^
  </div>

  <div id='sprites'>

    <div id='sky'></div>

    <div id='day-sky'></div>
    <div id='night-sky'></div>

    <div id='stars'></div>

    <div id='landscape'><%= image_tag("v1/foreground.png") %></div>
    <div id='shadow'></div>
    <div id='cityscape'><%= image_tag("v1/cityscape.png") %></div>

    <div id='sun'><%= image_tag("v1/sun.png") %></div>
    <div id='moon'><%= image_tag("v1/moon.png") %></div>

    <div id='registry'><%= image_tag("v1/moon.png") %></div>
    <div id='transportation'><%= image_tag("http://mewarnai.us/images/209107-airplane-banner-clip-art.jpg", :width => 200) %></div>
    <div id='babys'><%= image_tag("http://images.clipartof.com/small/214105-Royalty-Free-RF-Clipart-Illustration-Of-A-Childs-Sketch-Of-A-Boy-Holding-Balloons.jpg", :width => 100) %></div>

  </div>



  <div class='page' id='scene-6'>
    <h1 id='goodbye-title' class='align left'><%= image_tag("v1/title-2.png") %></h1>
  </div>

  <div class='page' id='scene-5'>
    <div class='text align left' id='rsvp-form'>
      <h1>RSVP</h1>

      <h3>Please fill out the following form by April 10, 2015</h3>

      <%= form_for @rsvp, :remote => true, :url => { :action => "save_rsvp"} do |f| %>
	<label>Full Name</label><%= f.text_field :full_name %><br /><br />
	<label>Will you be joining us?</label><%= f.radio_button :is_coming, true %> Yes&nbsp;&nbsp;<%= f.radio_button :is_coming, false %> No<br /><br />
	<label>If so, who else will be joining us from your party?</label><br />
	<%= f.text_area :guest_list, :size => "60x4" %><br /><br />
	<label>Anything else you want to let us know?</label><br />
	<%= f.text_area :comment, :size => "60x4" %><br /><br />
	<%= f.submit "Submit" %>
      <% end %>

    </div>

    <div class='text align left' id='rsvp-success' style="display:none;">
      <h1>We got your RSVP</h1>
      <h2>Thanks <span class="cursive">for</span> being <i style="color:#FFF">awesome</i> <span class="cursive">and</span> <i style="color:#FFF">super cool</i></h2>
      <h3>❤ Ck & Lij</h3>
    </div>
  </div>

  <div class='page' id='scene-4'>
    <div class='text align right' id="activities">
      <h1>Things To Do</h1>
      <p>We love LA, especially DTLA where we've made our new home. As a visitor, we want you to love LA too! Here are our favorite activities in LA.</p>

      <h2>DTLA</h2>
      <ul>
	<li><a href="#" class="lead">Grab a drink, play some board games, darts, or cornhole</a><span class="details"> at <a href="http://angelcitybrewery.com/" target=_blank>Angel City Brewery</a>. Bring your dogs & kids!</span></li>
	<li><a href="#" class="lead">Challenge some mofos to Street Fighter 2</a><span class="details"> at <a href="http://eightytwo.la/" target=_blank>Eighty Two</a>, a newly opened Barcade (Bar + Arcade)</span></li>
	<li><a href="#" class="lead">Grab a bomb brunch with an amazing view of downtown skyscrappers</a><span class="details"> at <a href="http://perchla.com/" target=_blank>Perch</a>. Or go at night and grab a drink at this happening rooftop bar</span></li>
	<li><a href="#" class="lead">Walk around Little Tokyo and</a><span class="details"> shop at the several boutiques. While you're there, grab a bite at <a href="http://www.yelp.com/biz/marugame-monzo-los-angeles-2" target=_blank>Marugame Monzo</a> for some hand made udon or get some sushi at <a href="http://www.yelp.com/biz/sushi-gen-los-angeles" target=_blank>Sushi Gen</a> (beware the line, try and avoid weekend peak times). <a href="http://www.moca.org/" target=_blank>The MOCA</a> regularly has interesting exhibits that you should check out</span></li>
	<li><a href="#" class="lead">If you're around on Thursday, May 14th, check out</a><span class="details"> the <a href="http://www.downtownartwalk.org/" target=_blank>DTLA Artwalk</a> in the Historic Core. If not, you should still check out the many bars, restaurants, and art galleries in the Historic Core. <a href="http://lastbookstorela.com/" target=_blank>The Last Bookstore</a> is the coolest bookstore on the planet (no joke)</span></li>
	<li><a href="#" class="lead">Staples Center/La Live</a><span class="details"> has a bunch of events going on. Check out their <a href="http://www.staplescenter.com/events" target=_blank>event schedule</a>, the NBA playoffs and NHL playoffs should be in full effect around then (lets hope for a Warriors/Clippers matchup). Theres a movie theater there as well if you wanna catch a flick</span></li>
	<li><a href="#" class="lead">Get some good food in a fun and lively atmosphere</a><span class="details"> at <a href="http://www.grandcentralmarket.com/" target=_blank>Grand Central Market</a>. Must eats include <a href="http://www.grandcentralmarket.com/vendors/69/eggslut" target=_blank>Egg Slut</a>, <a href="http://www.grandcentralmarket.com/vendors/63/belcampo-meat-co" target=_blank>Belcampo Meat Co.</a>, <a href="http://www.grandcentralmarket.com/vendors/133/wexlers-deli" target=_blank>Wexlers Deli</a>, and <a href="http://www.grandcentralmarket.com/vendors/17/g-and-b-coffee" target=_blank>G&B Coffee</a></span></li>
	<li><a href="#" class="lead">Stuff your face!</a><span class="details"> Here are some of our other favorite food spots in the area: <a href="http://www.yelp.com/biz/kazunori-los-angeles-9" target=_blank>KazuNori</a>, <a href="http://www.yelp.com/biz/wurstk%C3%BCche-los-angeles-2" target=_blank>Wurstküche</a>, <a href="http://www.yelp.com/biz/b%C3%A4co-mercat-los-angeles-2" target=_blank>Bäco Mercat</a>, <a href="http://www.yelp.com/biz/the-factory-kitchen-los-angeles" target=_blank>The Factory Kitchen</a>, <a href="http://www.yelp.com/biz/bestia-los-angeles" target=_blank>Bestia</a>, and <a href="http://www.yelp.com/biz/daily-dose-cafe-los-angeles" target=_blank>Daily Dose Cafe</a></span></li>
	<li><a href="#" class="lead">Grab some drinks at some of our favorite downtown bars.</a><span class="details"> <a href="http://villainstavern.com/" target=_blank>Villains Tavern</a>, <a href="http://librarybarla.com/" target=_blank>Library Bar</a>, <a href="http://sevengrandbars.com/seven-grand-downtown-la/" target=_blank>Seven Grand</a>, and <a href="http://farbarla.com/" target=_blank>Far Bar</a></span></li>
      </ul>

      <h2>Other Awesome LA Neighborhoods</h2>
      <ul class="activities">
	<li><a href="#" class="lead">Silverlake, Los Feliz, Echo Park & Highland Park.</a><span class="details"> Local neighborhoods with great local eats, cute botique shops, and interesting cultures</span></li>
	<li><a href="#" class="lead">Venice.</a><span class="details"> A strip of unique botiques, bars and restaurants that's great for walking & shopping, and one of the most unique beach walk areas you'll ever see.</span></li>
	<li><a href="#" class="lead">Santa Monica.</a><span class="details"> Stereotypical LA beach scene. They have free concerts on the beach during the summer on Thursdays, you can shop 3rd street promenade if you're looking for major retailers</span></li>
	<li><a href="#" class="lead">Music Venues.</a><span class="details"> LA has a great music scene with a bunch of unique venues. Some of our favorites are <a href="http://www.theecho.com/" target=_blank>The Echoplex</a>, <a href="http://www.thehollywoodpalladium.com/" target=_blank>Hollywood Palladium</a>, <a href="https://www.acehotel.com/losangeles/theatre" target=_blank>The Theater At Ace Hotel</a>, <a href="http://www.hollywoodbowl.com/" target=_blank>Hollywood Bowl</a>, and <a href="http://www.thesatellitela.com/" target=_blank>The Satelite</a>. Check and see if a band you like is playing!</span></li>
      </ul>
    </div>
  </div>

  <div class='page' id='scene-3'>
    <div class='text align left' id="accommodations">
      <h1>Accommodations</h1>

      <h2><a href="#" id="double-tree" class="hotel-expand">Double Tree LA Downtown</a></h2>
      <div class="hotel" id="double-tree-content">
	<p>A block of rooms has been reserved from Friday May 15th through Sunday May 17th. The hotel is half a mile from the wedding venue and we’ve secured a reasonable rate for people to stay in Downtown LA.</p>
	<p>Please reference the Ku Tan Wedding Room Block</p>
	<p>Phone Number: 650-598-9000</p>
	<p>Standard King or Double: $199.00</p>
	<p>Book by May 8th 5pm to secure the rate. 24 Hour cancellation policy is enforced.</p>
	<p>Visit: <a href="http://www.acehotel.com/" target=_blank>The Double Tree Website</a></p>
      </div>

      <h2><a href="#" id="ace" class="hotel-expand">Ace Hotel</a></h2>
      <div class="hotel" id="ace-content" style="display:none;">
	<p>We also want to recommend the Ace Hotel as an alternative option in Downtown. It's a more "hip" hotel with a really nice bar and in a cool and lively area in DTLA. The rooms are smaller but have a more interesting decor, so its a great option if you dont mind less space or comfort in exchange for a more lively enviroment.</p>
	<p>Visit: <a href="http://www.acehotel.com/" target=_blank>The Ace Hotel Website</a></p>
      </div>

      <h2><a href="#" id="standard" class="hotel-expand">The Standard | Downtown LA</a></h2>
      <div class="hotel" id="standard-content" style="display:none;">
	<p>The Standard, Downtown LA is another great option if you want a more lively and fun hotel. They have an amazing rooftop pool, and the rooms are really modern.</p>
	<p>Visit: <a href="http://www.standardhotels.com" target=_blank>The Standard | DTLA Website</a></p>
      </div>

      <h2><a href="#" id="airbnb" class="hotel-expand">Airbnb</a></h2>
      <div class="hotel" id="airbnb-content" style="display:none;">
	<p>A great affordable option for housing is Airbnb. Renting a place from Airbnb will give you more of a local's experience of living in the area. We went ahead and found some places that seem nice and are in DTLA, near our venue for your convenience. No guarantees on availability, so book soon!</p>


	<h3>6+ people</h3>
	<ul>
	  <li><a href="https://www.airbnb.com/rooms/3476867?checkin=05%2F15%2F2015&checkout=05%2F17%2F2015&guests=5&s=e8-G" target=_blank>Bella Flats: 2bd/2br Suite in DTLA</a></li>
	  <li><a href="https://www.airbnb.com/rooms/2097927?checkin=05%2F15%2F2015&checkout=05%2F17%2F2015&guests=10&s=QD27" target=_blank>HUGE LOFT DOWNTOWN LOS ANGELES</a></li>
	  <li><a href="https://www.airbnb.com/rooms/2739290?checkin=05%2F15%2F2015&checkout=05%2F17%2F2015&guests=10&s=QD27" target=_blank>HUGE 3BR Walkable to EVERYTHING (Silverlake)</a></li>
	</ul>

	<h3>3-5 people</h3>
	<ul>
	  <li><a href="https://www.airbnb.com/rooms/1943502?checkin=05%2F15%2F2015&checkout=05%2F17%2F2015&guests=2&s=Ek8b" target=_blank>BEST Downtown Loft starting at $149</a></li>
	  <li><a href="https://www.airbnb.com/rooms/3370257?checkin=05%2F15%2F2015&checkout=05%2F17%2F2015&guests=2&s=Ek8b" target=_blank>Walk to staples center/convention</a></li>
	  <li><a href="https://www.airbnb.com/rooms/3302730?checkin=05%2F15%2F2015&checkout=05%2F17%2F2015&guests=2&s=Ek8b" target=_blank>Awesome DTLA Artsy One Bedroom Loft</a></li>
	  <li><a href="https://www.airbnb.com/rooms/3695257?checkin=05%2F15%2F2015&checkout=05%2F17%2F2015&guests=2&s=Ek8b" target=_blank>Bella Flats: 1Bd/1Br Next 2 Staples</a></li>
	  <li><a href="https://www.airbnb.com/rooms/3694704?checkin=05%2F15%2F2015&checkout=05%2F17%2F2015&guests=2&s=Ek8b" target=_blank>Bella Flats: 1Bd/1Br Heart of DTLA</a></li>
	  <li><a href="https://www.airbnb.com/rooms/785649?checkin=05%2F15%2F2015&checkout=05%2F17%2F2015&guests=2&s=Ek8b" target=_blank>URBAN FLAT Amazing Penthouse!! 03</a></li>
	  <li><a href="https://www.airbnb.com/rooms/4287945?checkin=05%2F15%2F2015&checkout=05%2F17%2F2015&guests=2&s=Ek8b" target=_blank>Spectacular DTLA View Flat 67</a></li>
	  <li><a href="https://www.airbnb.com/rooms/1633630?checkin=05%2F15%2F2015&checkout=05%2F17%2F2015&guests=2&s=Ek8b" target=_blank>Vibrant Urban Downtown LA Loft</a></li>
	  <li><a href="https://www.airbnb.com/rooms/3767741?checkin=05%2F15%2F2015&checkout=05%2F17%2F2015&guests=2&s=Ek8b" target=_blank>Steps from Staples/Convention Cntr</a></li>
	  <li><a href="https://www.airbnb.com/rooms/3521580?checkin=05%2F15%2F2015&checkout=05%2F17%2F2015&guests=2&s=Ek8b" target=_blank>New Designer's Loft w Skyline Views</a></li>
	  <li><a href="https://www.airbnb.com/rooms/1305948?checkin=05%2F15%2F2015&checkout=05%2F17%2F2015&guests=2&s=Ek8b" target=_blank>URBAN FLAT Penthouse LA Loft 326</a></li>
	</ul>

	<h3>1-2 people</h3>
	<ul>
	  <li><a href="https://www.airbnb.com/rooms/4526471?checkin=05%2F15%2F2015&checkout=05%2F17%2F2015&guests=2&s=Ek8b" target=_blank>Private Downtown LA Getaway</a></li>
	  <li><a href="https://www.airbnb.com/rooms/2658531?checkin=05%2F15%2F2015&checkout=05%2F17%2F2015&guests=2&s=Ek8b" target=_blank>Spacious Loft with Skyline Views</a></li>
	  <li><a href="https://www.airbnb.com/rooms/2202908?checkin=05%2F15%2F2015&checkout=05%2F17%2F2015&guests=2&s=Ek8b" target=_blank>Chic Industrial Loft in DTLA</a></li>
	  <li><a href="https://www.airbnb.com/rooms/3562296?checkin=05%2F15%2F2015&checkout=05%2F17%2F2015&guests=2&s=Ek8b" target=_blank>Amazing View from a Modern Loft</a></li>
	  <li><a href="https://www.airbnb.com/rooms/4560200?checkin=05%2F15%2F2015&checkout=05%2F17%2F2015&guests=2&s=Ek8b" target=_blank>Embrace Historic Downtown LA</a></li>
	  <li><a href="https://www.airbnb.com/rooms/3937649?checkin=05%2F15%2F2015&checkout=05%2F17%2F2015&guests=2&s=Ek8b" target=_blank>Creative Loft in the Arts District</a></li>
	</ul>
      </div>
    </div>

  </div>

  <div class='page' id='scene-2'>
    <div class='text align right'>

      <h1>Wedding Details</h1>
      <h2>May 16, 2015 | The Millwick</h2>
      <h3>800 East Fourth Place, LA, CA 90013</h3>
      <h4>Ceremony @ 5:00PM | Reception @ 7:00PM</h4>

      <iframe id="map" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=The%20Millwick&key=AIzaSyDL2w6BVoIBNWYX6KoqH-HT43bxjFSshTQ&zoom=13"></iframe>

    </div>

  </div>


  <div class='page title' id='scene-1'>
    <h1 id='welcome-title' class='align left'><%= image_tag("v1/title-1.png") %></h1>
  </div>

</div>
