<div id='content2'>

  <div id='scroll-percent'>
    Scroll Percent
  </div>

  <div id='animation-percent'>
    ^^^^^^^
  </div>

  <div id='sprites'>

    <div id='sky'></div>

    <div id='day-sky'></div>
    <div id='night-sky'></div>

    <div id='stars'></div>

    <div id='landscape'><%= image_tag("v1/foreground.png") %></div>
    <div id='shadow'></div>
    <div id='cityscape'><%= image_tag("v1/cityscape.png") %></div>

    <div id='sun'><%= image_tag("v1/sun.png") %></div>
    <div id='moon'><%= image_tag("v1/moon.png") %></div>

  </div>



  <div class='page' id='scene-7'>
    <h1 id='goodbye-title'><%= image_tag("v1/title-2.png") %></h1>
  </div>


  <div class='page' id='scene-6'>
    <div class='text'>
      <h1>Things To Do</h1>

      <p>
	Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text.
      </p>

      <p>
	Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text.
      </p>

      <p>
	Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text.
      </p>
    </div>

  </div>

  <div class='page' id='scene-5'>
    <div class='text'>
      <h1>Things To Do</h1>

      <p>
	Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text.
      </p>

      <p>
	Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text.
      </p>

      <p>
	Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text.
      </p>
    </div>

  </div>

  <div class='page' id='scene-4'>
    <div class='text'>
      <h1>Things To Do</h1>
      <p>
	Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text.
      </p>

      <p>
	Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text.
      </p>

      <p>
	Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text.
      </p>
    </div>

  </div>

  <div class='page' id='scene-3'>
    <div class='text'>
      <h1>Things To Do</h1>
      <p>
	Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text.
      </p>

      <p>
	Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text.
      </p>

      <p>
	Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text.
      </p>
    </div>

  </div>

  <div class='page' id='scene-2'>
    <div class='text'>
      <h1>Transportation</h1>

      <p>
	Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text.
      </p>

      <p>
	Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text.
      </p>

      <p>
	Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text. Some welcome text.
      </p>
    </div>

  </div>


  <div class='page' id='scene-1'>
    <h1 id='welcome-title'><%= image_tag("v1/title-1.png") %></h1>
  </div>

</div>
